/* All Templates */
.center{
	text-align: center;
}
.dropdown{
	cursor: pointer;	
}
.panel__opacity--50{
	opacity: .5;
}
.separator{
	margin: 1em;
	margin: 1rem;
}

/* Unauthenticated Template */

/* Text */
.title__unauthenticated{
	text-transform: uppercase;
	text-align: center;
}
.title__error{
	font-size: 10em;
	font-weight: bold;
}
.link__unauthenticated{
	text-decoration: none;
}
.link__unauthenticated:hover{
	text-decoration: underline;
}

/* All Form */
.link__unauthenticated,
.button__unauthenticated,
.input__unauthenticated{
	opacity: 1;
}
.link__unauthenticated:hover,
.button__unauthenticated:hover,
.input__unauthenticated:focus{
	opacity: .7;
}

.button__unauthenticated--disable,
.button__unauthenticated--disable:hover{
	opacity: .5;
	cursor: not-allowed;
}

.emag__select{
	margin: 1em;
	margin: 1rem;
}

/*Messages*/
.message__box{
	opacity: .9;
	font-size: 100%;
	height: auto;	
}
.icon__close{
	padding: .2em;
	padding: .2rem;
}
.label__unauthenticated--error{
	text-transform: uppercase;
	font-weight: bold;
	color: #ff0000;
	background-color: #fff;
}