.bgimg-1 {
    background-image: url('../../img/bg/tree-moon-positive.png');
}

.label__unauthenticated--error,
.w3-btn,
.message__box{
	color: #000;
	background-color: #fff;
}

.w3-btn,
.message-box{
	border: #000 1px solid;
}

.tooltipster-box,
.panel__opacity--10,
.panel__opacity--20,
.panel__opacity--30,
.panel__opacity--40,
.panel__opacity--50,
.panel__opacity--60,
.panel__opacity--70,
.panel__opacity--80,
.panel__opacity--90,
.panel__opacity--100,
.link__unauthenticated:hover,
.button__unauthenticated:hover,
.input__unauthenticated:focus,
.button__unauthenticated--disable,
.button__unauthenticated--disable:hover,
.message__box{
	opacity: 1;
}

.tooltipster-sidetip .tooltipster-box {
	background:#fff;
}
.tooltipster-sidetip .tooltipster-content {
	color:#000;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{
	border-bottom-color:#fff;
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{
	border-left-color:#fff;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{
	border-right-color:#fff;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
	border-top-color:#fff;
}
